<style>
    .icon{
        color: #fe424d !important;
        
    }
</style>
<footer>
    <div class="f-info">
        <h6>Contect Developers</h6>
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/vishnu-kumawat-9b8b7320b/"><i class="fa-brands fa-linkedin icon"></i></a>
            <a href="https://github.com/VISHNU4546"><i class="fa-brands fa-github icon"></i></a>
            <a href="https://vishnu-portfolio11.netlify.app/" class="fa-brands"><i class="fa-solid fa-globe icon "></i></a>
            
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>